In [3]:
import pandas as pd

In [4]:
pd.__version__

'1.5.3'

In [5]:
#Creamos un data frame 
rick_and_morty = pd.DataFrame({
    "nombre" : ["Rick","Morty"],
    "apellido" : ["Sanchez","Smith"],
    "edad" : ["70","14"]
})
rick_and_morty

  nombre apellido edad
0   Rick  Sanchez   70
1  Morty    Smith   14

In [6]:
#Crear data frames con listas
rick_and_morty = pd.DataFrame(
    [["Rick","Sanchez","70"],
    ["Morty","Smith","14"]],
    columns = ["Nombre","Apellido","Edad"]
)
rick_and_morty

  Nombre Apellido Edad
0   Rick  Sanchez   70
1  Morty    Smith   14

In [7]:
!head -n 5 /home/carlostr/curso_data_science-master/Secciones/Seccion3.Intro_a_Data_Science/Intro_a_Pandas/primary_results.csv

state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
Alabama,AL,Autauga,1001.0,Democrat,Bernie Sanders,544,0.182
Alabama,AL,Autauga,1001.0,Democrat,Hillary Clinton,2387,0.8
Alabama,AL,Baldwin,1003.0,Democrat,Bernie Sanders,2694,0.32899999999999996
Alabama,AL,Baldwin,1003.0,Democrat,Hillary Clinton,5290,0.647

In [8]:
votos = pd.read_csv("/home/carlostr/curso_data_science-master/Secciones/Seccion3.Intro_a_Data_Science/Intro_a_Pandas/primary_results.csv") 
votos

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
0,Alabama,AL,Autauga,1001.0,Democrat,Bernie Sanders,544,0.182
1,Alabama,AL,Autauga,1001.0,Democrat,Hillary Clinton,2387,0.800
2,Alabama,AL,Baldwin,1003.0,Democrat,Bernie Sanders,2694,0.329
3,Alabama,AL,Baldwin,1003.0,Democrat,Hillary Clinton,5290,0.647
4,Alabama,AL,Barbour,1005.0,Democrat,Bernie Sanders,222,0.078
...,...,...,...,...,...,...,...,...
24606,Wyoming,WY,Teton-Sublette,95600028.0,Republican,Ted Cruz,0,0.000
24607,Wyoming,WY,Uinta-Lincoln,95600027.0,Republican,Donald Trump,0,0.000
24608,Wyoming,WY,Uinta-Lincoln,95600027.0,Republican,John Kasich,0,0.000
24609,Wyoming,WY,Uinta-Lincoln,95600027.0,Republican,Marco Rubio,0,0.000
24610,Wyoming,WY,Uinta-Lincoln,95600027.0,Republican,Ted Cruz,53,1.000

In [9]:
df = votos #Si solo usamos un data frame se usa df para definirlo

In [10]:
#este comando nos muestra las primeras filas
df.head(3)

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
0,Alabama,AL,Autauga,1001.0,Democrat,Bernie Sanders,544,0.182
1,Alabama,AL,Autauga,1001.0,Democrat,Hillary Clinton,2387,0.800
2,Alabama,AL,Baldwin,1003.0,Democrat,Bernie Sanders,2694,0.329

In [11]:
#este comando nos muestra las ultimas filas
df.tail(3)

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
24608,Wyoming,WY,Uinta-Lincoln,95600027.0,Republican,John Kasich,0,0.0
24609,Wyoming,WY,Uinta-Lincoln,95600027.0,Republican,Marco Rubio,0,0.0
24610,Wyoming,WY,Uinta-Lincoln,95600027.0,Republican,Ted Cruz,53,1.0

In [14]:
df.dtypes #Esta linea nos muestra los data types de la tabla

state                  object
state_abbreviation     object
county                 object
fips                  float64
party                  object
candidate              object
votes                   int64
fraction_votes        float64
dtype: object

In [15]:
df.describe()

               fips          votes  fraction_votes
count  2.451100e+04   24611.000000    24611.000000
mean   2.667152e+07    2306.252773        0.304524
std    4.200978e+07    9861.183572        0.231401
min    1.001000e+03       0.000000        0.000000
25%    2.109100e+04      68.000000        0.094000
50%    4.208100e+04     358.000000        0.273000
75%    9.090012e+07    1375.000000        0.479000
max    9.560004e+07  590502.000000        1.000000

In [16]:
df.loc[1] #devuelve la segunda linea de la tabla

state                         Alabama
state_abbreviation                 AL
county                        Autauga
fips                           1001.0
party                        Democrat
candidate             Hillary Clinton
votes                            2387
fraction_votes                    0.8
Name: 1, dtype: object

In [17]:
df["state"] #Seleccionamos una columna

0        Alabama
1        Alabama
2        Alabama
3        Alabama
4        Alabama
          ...
24606    Wyoming
24607    Wyoming
24608    Wyoming
24609    Wyoming
24610    Wyoming
Name: state, Length: 24611, dtype: object

In [20]:
df["i"] = 1 #Creamos una columna con el valor 1 
df.head()

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes,i
0,Alabama,AL,Autauga,1001.0,Democrat,Bernie Sanders,544,0.182,1
1,Alabama,AL,Autauga,1001.0,Democrat,Hillary Clinton,2387,0.800,1
2,Alabama,AL,Baldwin,1003.0,Democrat,Bernie Sanders,2694,0.329,1
3,Alabama,AL,Baldwin,1003.0,Democrat,Hillary Clinton,5290,0.647,1
4,Alabama,AL,Barbour,1005.0,Democrat,Bernie Sanders,222,0.078,1

In [24]:
df[df.votes>200000] #Filtramos los candidatos con votos mayores a 200.000

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes,i
1385,California,CA,Los Angeles,6037.0,Democrat,Bernie Sanders,434656,0.420,1
1386,California,CA,Los Angeles,6037.0,Democrat,Hillary Clinton,590502,0.570,1
4450,Illinois,IL,Chicago,91700103.0,Democrat,Bernie Sanders,311225,0.454,1
4451,Illinois,IL,Chicago,91700103.0,Democrat,Hillary Clinton,366954,0.536,1
4462,Illinois,IL,Cook Suburbs,91700104.0,Democrat,Bernie Sanders,212428,0.457,1
4463,Illinois,IL,Cook Suburbs,91700104.0,Democrat,Hillary Clinton,249217,0.536,1
17309,Pennsylvania,PA,Philadelphia,42101.0,Democrat,Hillary Clinton,212785,0.626,1

In [27]:
df[(df.county == "Chicago")&(df.votes>200000)] #Filtramos con dos condiciones

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes,i
4450,Illinois,IL,Chicago,91700103.0,Democrat,Bernie Sanders,311225,0.454,1
4451,Illinois,IL,Chicago,91700103.0,Democrat,Hillary Clinton,366954,0.536,1

In [44]:
county = "Chicago"
county_democrat = df.query("county==@county and party == 'Democrat'")
county_democrat #Filtramos por condado los votos democratas

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes,i
4450,Illinois,IL,Chicago,91700103.0,Democrat,Bernie Sanders,311225,0.454,1
4451,Illinois,IL,Chicago,91700103.0,Democrat,Hillary Clinton,366954,0.536,1

In [45]:
df.sort_values(by="votes", ascending=False) #Aqui ordenamos la tabla conforme a la cantidad de votos

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes,i
1386,California,CA,Los Angeles,6037.0,Democrat,Hillary Clinton,590502,0.570,1
1385,California,CA,Los Angeles,6037.0,Democrat,Bernie Sanders,434656,0.420,1
4451,Illinois,IL,Chicago,91700103.0,Democrat,Hillary Clinton,366954,0.536,1
4450,Illinois,IL,Chicago,91700103.0,Democrat,Bernie Sanders,311225,0.454,1
4463,Illinois,IL,Cook Suburbs,91700104.0,Democrat,Hillary Clinton,249217,0.536,1
...,...,...,...,...,...,...,...,...,...
8476,Maine,ME,Greenbush,92300181.0,Democrat,Hillary Clinton,0,0.000,1
8474,Maine,ME,Great Pond,92300180.0,Democrat,Hillary Clinton,0,0.000,1
8473,Maine,ME,Great Pond,92300180.0,Democrat,Bernie Sanders,0,0.000,1
9637,Massachusetts,MA,Holland,92500135.0,Democrat,No Preference,0,0.000,1
8290,Maine,ME,Castle Hill,92300087.0,Democrat,Hillary Clinton,0,0.000,1

In [49]:
df.groupby(["state","party"]).votes.sum() #Sumamos los votos por estado y por partido

state          party
Alabama        Democrat       386327
               Republican     837632
Alaska         Democrat          539
               Republican      21930
Arizona        Democrat       399097
                              ...
West Virginia  Republican     188138
Wisconsin      Democrat      1000703
               Republican    1072699
Wyoming        Democrat          280
               Republican        903
Name: votes, Length: 95, dtype: int64

In [56]:
df["letra_estado"] = df.state_abbreviation.apply(lambda x: x[0]) #Aqui le aplicamos una funcion a la columna de estado 
df #Aqui agregamos una columna con la letra del estado mediante una funcion lambda

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes,i,letra_estado
0,Alabama,AL,Autauga,1001.0,Democrat,Bernie Sanders,544,0.182,1,A
1,Alabama,AL,Autauga,1001.0,Democrat,Hillary Clinton,2387,0.800,1,A
2,Alabama,AL,Baldwin,1003.0,Democrat,Bernie Sanders,2694,0.329,1,A
3,Alabama,AL,Baldwin,1003.0,Democrat,Hillary Clinton,5290,0.647,1,A
4,Alabama,AL,Barbour,1005.0,Democrat,Bernie Sanders,222,0.078,1,A
...,...,...,...,...,...,...,...,...,...,...
24606,Wyoming,WY,Teton-Sublette,95600028.0,Republican,Ted Cruz,0,0.000,1,W
24607,Wyoming,WY,Uinta-Lincoln,95600027.0,Republican,Donald Trump,0,0.000,1,W
24608,Wyoming,WY,Uinta-Lincoln,95600027.0,Republican,John Kasich,0,0.000,1,W
24609,Wyoming,WY,Uinta-Lincoln,95600027.0,Republican,Marco Rubio,0,0.000,1,W
24610,Wyoming,WY,Uinta-Lincoln,95600027.0,Republican,Ted Cruz,53,1.000,1,W

In [75]:
df["i"] = 1 #creamos una columna 'i
df

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes,letra_estado,i
0,Alabama,AL,Autauga,1001.0,Democrat,Bernie Sanders,544,0.182,A,1
1,Alabama,AL,Autauga,1001.0,Democrat,Hillary Clinton,2387,0.800,A,1
2,Alabama,AL,Baldwin,1003.0,Democrat,Bernie Sanders,2694,0.329,A,1
3,Alabama,AL,Baldwin,1003.0,Democrat,Hillary Clinton,5290,0.647,A,1
4,Alabama,AL,Barbour,1005.0,Democrat,Bernie Sanders,222,0.078,A,1
...,...,...,...,...,...,...,...,...,...,...
24606,Wyoming,WY,Teton-Sublette,95600028.0,Republican,Ted Cruz,0,0.000,W,1
24607,Wyoming,WY,Uinta-Lincoln,95600027.0,Republican,Donald Trump,0,0.000,W,1
24608,Wyoming,WY,Uinta-Lincoln,95600027.0,Republican,John Kasich,0,0.000,W,1
24609,Wyoming,WY,Uinta-Lincoln,95600027.0,Republican,Marco Rubio,0,0.000,W,1
24610,Wyoming,WY,Uinta-Lincoln,95600027.0,Republican,Ted Cruz,53,1.000,W,1

In [81]:
df_pobreza = pd.read_csv("/home/carlostr/curso_data_science-master/Secciones/Seccion3.Intro_a_Data_Science/Intro_a_Pandas/PovertyEstimates.csv")
df_pobreza

      FIPStxt  PCTPOVALL_2015
0           0            14.7
1        1000            18.5
2        1001            12.7
3        1003            12.9
4        1005            32.0
...       ...             ...
3189    56037             8.5
3190    56039             6.6
3191    56041             9.8
3192    56043            11.2
3193    56045             9.8

[3194 rows x 2 columns]

In [82]:
df_merged = df.merge(df_pobreza, left_on = 'fips',right_on = 'FIPStxt')
df_merged.head()

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes,letra_estado,FIPStxt,PCTPOVALL_2015
0,Alabama,AL,Autauga,1001.0,Democrat,Bernie Sanders,544,0.182,A,1001,12.7
1,Alabama,AL,Autauga,1001.0,Democrat,Hillary Clinton,2387,0.800,A,1001,12.7
2,Alabama,AL,Autauga,1001.0,Republican,Ben Carson,1764,0.146,A,1001,12.7
3,Alabama,AL,Autauga,1001.0,Republican,Donald Trump,5387,0.445,A,1001,12.7
4,Alabama,AL,Autauga,1001.0,Republican,John Kasich,421,0.035,A,1001,12.7